<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.enerjisa.enframeworktest"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TestApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ENFramework">

        <activity android:name=".ui.screens.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screens.FileTestActivity"
            android:label="FILE TEST"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.screens.SharedTestActivity"
            android:label="SHARED TEST"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.screens.recyclerview.RecyclerViewMenuActivity"
            android:label="RECYCLER VIEW"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.screens.recyclerview.normal.NormalRecyclerViewListActivity"
            android:label="NORMAL RECYCLER VIEW"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.screens.dialogs.DialogsActivity"
            android:label="Dialogs"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.screens.viewpager.ViewPagerActivity"
            android:label="ViewPager"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.screens.dialogs.customprogressdialog.CustomProgressDialogsActivity"
            android:label="Custom Progress"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.screens.spinner.SpinnerActivity"
            android:label="Spinner Demo"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.enerjisa.enframeworktest"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </receiver>

    </application>

</manifest>